<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1.0">
    <title>PETRY </title>
    <link rel="icon" href="{{url_for('static', filename='img/pet-food.png')}}">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />


    <!-- Template Stylesheet -->
    <link href="{{url_for('static', filename='css/blog.css')}}" rel="stylesheet">

</head>

<body>
    <div class="article">
        <div class="wrapper">
            <div class="wrapperText">
                <h1>
                    <mark>12 Ways Dogs Contribute to Human Health and Happiness</mark>
                </h1>
                <p id="author">
                    <mark>by BOBBY DAVIDSON</mark>
                </p>
                <div id="accountDetail" class="accountInfo">
                    <div class="header">
                        <h2><mark>Lina Regental</mark></h2>
                        <p><mark>Producer & Author</mark></p>
                    </div>
                    <div class="profilePicture"></div>
                    <p class="profileText">Chef, Community Volunteer, Conveyor of Messages, Electro Producer, Scapegoat.
                        Is that a double rainbow? D:.</p>
                    <button>Check me out ></button>
                </div>
            </div>
        </div>
        <!--The Text is taken from https://puccicafe.com/12-ways-dogs-contribute-to-human-health-and-happiness/#:~:text=12%20Ways%20Dogs%20Contribute%20to%20Human%20Health%20and,8.%20Help%20You%20Lose%20Weight%20...%20More%20items -->
        <div class="articleText">
            <a href="/" class="button-81" role="button">Back to Home</a>
            <h4 class="introduction">Dogs come with some special powers to improve human health and induce happiness.
                This is scientifically proven so you don’t have to take our word for it. They do this in many different
                ways, from strengthening the heart to alleviating feelings of sadness and depression. Don’t
                underestimate these little creatures!</h4>
            <p>Here are 12 top ways dogs contribute to human health and happiness, each has its own importance and is
                unique to the other.</p>
            <h2>1. Lower Stress and Anxiety</h2>
            <p>Dogs are one of the most lovable and loyal creatures known to mankind. Not only does their companionship
                offer comfort but it is also known to reduce anxiety and lower stress levels. Studies conducted have
                shown that petting a dog can decrease levels of the stress hormones in the body. They help you enjoy the
                present moment and make you forget about your worries. So much so that they have been known to come to
                nursing homes and other places to help relieve stress.</p>
            <h2>2. Help You Stay Active</h2>
            <p>The health benefits of having a dog are many. A dog keeps you on your toes. You have to take them on
                walks, play with them and take full care of them. It ensures that you keep active which is not only good
                for your health but will also enable you to be happy. It is a form of exercise and therefore releases
                endorphins, which are basically happy chemicals in the brain. Owning a dog is therefore an excellent way
                to keep healthy and active.</p>
        </div>
    </div>


</body>

</html>